@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap');

header{
    background-color: white;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#acronimo{
    font-size: 60px;
    margin-left: 20px;
    font-family: 'Pacifico';
}

#btnHome{
    background-color: transparent;
    border: 0px;
}

body{
    margin: 0px;
    background: linear-gradient(45deg, black, rgb(57, 57, 57));
}

.btn{
    border: 0px;
    font-size: 25px;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: rgb(0, 0, 0);
    width: 150px;
    font-family: 'Indie Flower';
    transition-duration: 0.4s;
}

.btn:hover{
    border-bottom: 2px solid rgb(255, 149, 0);
}

#main{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main2{
    border-radius: 30px;
    background: linear-gradient(45deg, rgb(33, 33, 33), rgb(84, 84, 84));
    width: 500px;
    height: 600px;
}

h4{
    margin-left: 10%;
    font-size: 30px;
    color: rgb(255, 149, 0);
    font-family: 'Pacifico';
}

input{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 50px;
    border-radius: 20px;
    border: 0px;
}

#submit{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 70px;
    width: 40%;
    height: 60px;
    border-radius: 30px;
    border: 3px solid rgb(255, 149, 0);
    background-color: transparent;
    font-size: 30px;
    transition-duration: 0.4s;
    color: white;
}

#submit:hover{
    color: rgb(255, 149, 0);
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 70px;
}