@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap');

body{
    background: linear-gradient(45deg, black, rgb(57, 57, 57));
    margin: 0px;
}

header{
    background-color: white;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#acronimo{
    font-size: 60px;
    margin-left: 20px;
    font-family: 'Pacifico';
}

.icona{
    margin-right: 20px;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

#mainTitle{
    color: rgb(255, 149, 0);
    font-size: 100px;
    margin: 0px;
    font-family: 'Pacifico';
}

#subtitle{
    margin-top: 0px;
    color: rgb(255, 149, 0);
    font-size: 50px;
    font-family: 'Pacifico';
}

.btn{
    border: 0px;
    font-size: 25px;
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
    width: 150px;
    font-family: 'Indie Flower';
    transition-duration: 0.4s;
}

button:hover{
    border-bottom: 2px solid rgb(255, 149, 0);
}

#lastWorkTitle{
    font-size: 40px;
    font-family: 'Pacifico';
    color: rgb(255, 149, 0);
}

#lastWork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#callToAction{
    margin-top: 20px;
    background-color: rgb(255, 149, 0);
    border: 2px solid rgb(192, 112, 0);
    border-radius: 20px;
    height: 50px;
    width: 358px;
    color: black;
    font-size: 30px;
    transition-duration: 0.4s;
}

#callToAction:hover{
    background-color: transparent;
    color: white;
}

#lastWorkImg{
    border-radius: 20px;
}